.header {
  padding: 32px 60px;

  background-color: rgba(var(--white-rgba), 0.5);
}

.title {
  text-transform: uppercase;

  color: var(--project-names);

  font-size: 21px;
  font-weight: 600;
  line-height: 25px;
}
